/**
*Layout
*/

* {
  box-sizing: border-box;
}

body {
  font-family: ralewayregular;
  margin: 0;
  padding: 0;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.container {
  width: 100%;
  margin: 0px auto;
}
.layout-2-col .column{
  width: 49%;
  display: inline-block;
}
.layout-3-col .column{
  width: 31%;
  display: inline-block;
}
.layout-4-col .column{
  display: inline-block;
}
.left {
  float: left;
}
.right {
  float: right;
}
/**
*Header & Footer
*/
header {
  height: 30px;
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-size: 65%;
  padding-left: 5%;
}
.site-header ul, li, a{
  list-style-image: none;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding-left: 10px;
}
.site-header .layout-2-col .column:last-child{
  text-align: right;
  padding-right: 5%;
}
/**
*Main
*/
.color {
  color: rgb(68,234,183);
}

/**
*Description
*/
p, h1{
  display: inline-block;
}
.switch {
  width: 10%;
  height: 400px;
  text-align: center;
}
.description{
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
height: 400px;
}
.box-left {
  width: 40%;
  background-image: url(../images/black_chair.png);
  background-position: center;
  height: 400px;
}
.box-right {
  text-align: center;
  width: 40%;
  height: 400px;
  position: absolute;
  top: 30px;
  padding-top: 70px;
  padding-right: 15px;
  padding-left: 15px;
  color: rgb(208,208,208);
}
.box-right>h1{
  text-transform: uppercase;
  color: black;
}
.description .left>button, .description .right>button{
  height: 100px;
  font-size: 55px;
  font-weight: 200;
  border: none;
  background: transparent;
  margin-top: 150px;
}
.box-right>button{
  height: 40px;
  width: 170px;
  color: white;
  background-color:rgb(68,234,183);
  border: none;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 4px;
}

/**
*Gallery
*/
.gallery .layout-3-col {
  padding: 20px;
  padding-bottom: 40px;
}
.gallery .layout-3-col .column {
  border: 1px solid rgb(208,208,208);
  border-radius: 2px;
  margin-left: 20px;
}
.gallery_1 {
  background-image: url(../images/box1_img.jpg);
  background-position: center;
  height: 220px;
}
.gallery_2 {
  background-image: url(../images/box2_img.jpg);
  background-position: center;
  height: 220px;
}
.gallery_3 {
  height: 250px;
  color: rgb(208,208,208);
  font-size: 14px;
  position: relative;
  top: 20px;
}
.gallery .blur {
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 140px;
}
.gallery .move_left {
  padding-left: 10px;
}
.gallery .floatfix:after {
  content:'';
  display:block;
  clear:both;
}
.gallery .column h1{
  font-size: 14px;
  color: black;
  border-bottom: 4px solid rgb(68,234,183);
  width: 50%;
}
/**
*Price
*/
.price {
  background-color: rgba(208,208,208,0.3);
  padding: 20px;
}
.price .column {
  height: 400px;
  border: 1px solid red;
  margin-left: 18px;
  margin-bottom: 20px;
}
.price .container h1 {
  width: 31%;
  border-bottom: 4px solid rgb(68,234,183);
  margin-left: 18px;
  text-transform: uppercase;
  font-size: 18px;
}
/**
*Form
*/
/**
*Site-Footer
*/
